{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi I'm Jayniel, an python programmer who has an interest in making web application.
          I finally had the courage to start learning python after I was laid off during the start of the pandemic. I've
          learned most of my programming skills from the London App Brewery bootcamp and cs50 courses from YouTube.
        </p>
        <p></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}